<body>
    <div class="tweet-container">
        <p class="tweet-container-title">
            Latest #UX Tweets
        </p>
        <div class="tweet-content">
            <table class="tweet">
                <tr>
                    <td rowspan="2"><img class="tweet-profile-pic" src="/src/assets/test/-5fpmgID_400x400.jpg" alt="">
                    </td>
                    <td class="tweet-nice-name">
                        <p>Sirius</p>
                    </td>
                </tr>
                <tr>
                    <td class="tweet-username">
                        <p>@pinguinfighter</p>
                    </td>
                </tr>
            </table>
            <!-- <hr class="tweet-hr"> -->
            <div class="tweet-text">
                Gecire elegem van ebből kappaasdasdasdasdasdasdasd asdasdasdsadasdasdasdas
            </div>
            <hr class="tweet-hr">
            <div class="tweet-date">
                May 03, 19:69
            </div>
        </div>
    </div>
    </div>
</body>
<style>
    .tweet-content {
        background-color: white;
        border-radius: 5px;
        width: 600px;
    }

    .tweet-container {
        margin: 50px;
        color: #484848;

    }

    body {
        background-color: lightgray;
        margin: 0;
    }

    .tweet-profile-pic {
        max-height: 50px;
        clip-path: circle(25px at center);
        margin: 20px;
        /* margin-bottom: 20px; */

    }

    .inline {
        display: inline;
    }

    .tweet-username {
        vertical-align: top;
        font-style: italic;
        color: #484848;
    }

    .tweet-nice-name {
        vertical-align: bottom;
        font-weight: bold;
        font-size: 19px;
        color: #484848;
    }

    .tweet-text {
        margin-left: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .tweet-hr {
        margin-top: 0;
        background-color: #484848;
        opacity: 50%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        height: 0.5px;
    }
    .tweet-date {
        margin-left: 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }
</style>